@tailwind base;
@tailwind components;
@tailwind utilities;


.from{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
border: 2px solid aliceblue;
height: 40px;
width: 150px;
cursor: pointer;
border-radius: 4px;
margin-left: 500px;
margin-top: 20px;
}